<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Dashboard Statistics</div>

                    <div class="card-body">
                        <p>Average Amount Per Order {{ display.average_amount_per_order }}</p>
                        <p>Total Sales Amount {{ display.total_sales_amount}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                display: "",
            }
        },
        mounted() {
            var socket = io('http://dashboard.autoleader1.info:3322');
            socket.on("statistics-channel:App\\Events\\StatEvent", function () {
                this.getAmount();
            }.bind(this));
        },
        methods: {
            getAmount: function () {
                axios({
                    method: 'get',
                    url: '/statistics'
                }).then((response) => {
                    this.display = response.data;
                });
            }
        }
    }
</script>
