<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">From</div>

                    <div class="card-body">
                        <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="Enter amount" v-model="statistics">
                        <div class="input-group-append">
                            <button @click="sendStat" class="btn btn-outline-secondary" type="button">Send</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                statistics: "",
            }
        },
        methods: {
            sendStat: function () {
                axios({
                    method: 'post',
                    url: '/sales',
                    params: { statistics: this.statistics}
                }).then(() => {
                    this.statistics = '';
                });
            },
        }
    }
</script>
